	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/09/2018 06:27
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-value:before { content: "\f100"; }
.flaticon-creative:before { content: "\f101"; }
.flaticon-checklist:before { content: "\f102"; }
.flaticon-deal:before { content: "\f103"; }
.flaticon-user:before { content: "\f104"; }
.flaticon-victory:before { content: "\f105"; }
.flaticon-happy:before { content: "\f106"; }
.flaticon-house:before { content: "\f107"; }
.flaticon-skyline:before { content: "\f108"; }
.flaticon-hotel:before { content: "\f109"; }
.flaticon-download:before { content: "\f10a"; }
.flaticon-paper-plane:before { content: "\f10b"; }
.flaticon-rocket-ship:before { content: "\f10c"; }
.flaticon-start:before { content: "\f10d"; }
.flaticon-folder:before { content: "\f10e"; }
.flaticon-small-calendar:before { content: "\f10f"; }
.flaticon-maps-and-flags:before { content: "\f110"; }
.flaticon-mail:before { content: "\f111"; }
.flaticon-phone:before { content: "\f112"; }